.favoriteBtn {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: 1px solid var(--glass-border);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-primary);
  transition: all 0.3s ease;
  z-index: 50;

  span {
    font-size: 18px;
    font-variation-settings: "wght" 300;
  }

  &:hover {
    background: #ffffff;
    color: var(--color-warning); // Или красный для сердечка
  }

  /* Состояние, когда кнопка активна (нажат лайк) */
  &.active {
    color: var(--color-warning); // Используем твой красный акцент

    span {
      /* Магия Material Symbols: закрашиваем сердце полностью */
      font-variation-settings:
        "FILL" 1,
        "wght" 400;
    }
  }

  /* Эффект нажатия (микро-отклик) */
  &:active {
    transform: scale(0.9);
  }
}
