.wrapper {
  position: sticky;
  top: 100px; 
  
  width: 100%;
  max-width: 350px;
  padding: var(--spacing-xl);
  
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);

  @media (max-width: 768px) {
    position: static;
    max-width: 100%;
  }
}

.header {
  margin-bottom: var(--spacing-lg);
  
  .price {
    font-size: var(--font-size-title);
    font-family: var(--font-family-serif-noto);
    font-weight: 700;
    color: var(--color-primary);
  }

  .period {
    color: var(--color-text-muted);
    font-size: var(--font-size-lg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
}

.fieldGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  background: var(--color-background-soft);
  border-radius: var(--radius-sm);
  
  cursor: pointer;


  .column {
    display: flex;
    flex-direction: column;

    
  }

  .label {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: var(--tracking-tighter);
    color: var(--color-text-muted);
  }

  .value {
    font-size: var(--font-size-sm);
    font-weight: 700;
    color: var(--color-text);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      opacity: 0.8;
    }
  }
}

.divider {
  width: 1px;
  height: 32px;
  background: var(--color-border);
  opacity: 0.3;
  margin: 0 var(--spacing-sm);
}

.submitBtn {
  width: 100%;
  padding: var(--spacing-lg) 0;
  font-size: var(--font-size-md);
  font-weight: 700;

}

.footerHint {
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-text-muted);
  margin-top: var(--spacing-md);
}