@mixin button-style {
  background-color: var(--color-primary);
  color: var(--color-button-text);
  border-radius: var(--radius-md);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--shadow-sm);
  z-index: 50;

  &:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-hover);
    box-shadow: var(--button-hover-shadow);
  }

  span {
    font-size: 24px;
    font-variation-settings:
      "FILL" 0,
      "wght" 500;
  }
}

@mixin link-button-style($height: 2px, $color: var(--color-primary)) {
  position: relative;
  text-decoration: none;
  display: inline-block; // Чтобы отступы и линия работали корректно
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1); // Убираем transition: all, анимируем только нужные свойства

  &:hover {
    text-shadow: 0 0 0.5px var(--color-text);
    color: $color
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: $height;
    background-color: $color;
    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

@mixin glass-effect {
  background: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
}

@mixin custom-scrollbar {
  overflow-y: auto;

  // 3. Webkit (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 6px; // Ширина всей дорожки
    display: block; // Гарантируем отображение
  }

  // УБИРАЕМ КНОПКИ (стрелочки)
  &::-webkit-scrollbar-button {
    display: none; // Полностью скрываем
    height: 0;
    width: 0;
  }

  // Фон, по которому ездит ползунок
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // САМ ПОЛЗУНОК
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    border-radius: 999px;

    &:hover {
      background-color: var(--color-scroll-thumb-hover);
    }
  }

  // Убираем возможные углы (в месте стыка горизонтального и вертикального скролла)
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scroll-thumb) transparent;
  }
}
