.container {
  min-height: 100vh;
  padding: 2rem;
}

  .title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .text {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }