.hotels {
  padding: var(--spacing-md) 0 0;
  background-color: var(--color-background-soft);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: var(--spacing-md);
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);
}

.listContainer {
  flex: 1;
  height: 100%;
}

.map {
  width: 60%; // Твоя базовая ширина для десктопа
  overflow: hidden;
  box-shadow: var(--shadow-lg);

  // Скрываем карту на мобилках (до 900px, как у тебя в примере)
  @media (max-width: 900px) {
    display: none;
  }
}