.hotels {
  padding: var(--spacing-md) 0 0;
  background-color: var(--color-background-soft);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  margin-top: var(--spacing-md);
  height: 100%;
  overflow: hidden;
  background-color: var(--color-background);

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.map {
  width: 60%;
  overflow: hidden;
  box-shadow: var(--shadow-lg);

  @media (max-width: 900px) {
    position: relative;
    height: 320px;
  }
}
