.wrapper {
  position: relative;
  flex: 1;

  input {
    width: 93%;
    padding: 1.3rem 0.75rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background: white;

    &:focus {
      outline: none;
      // border-color: #0070f3;
      box-shadow: 0 0 0 2px rgba(0, 118, 255, 0.2);
    }

    /* для текст/число — работает через placeholder-shown */
    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: 0.7rem;
      left: 0.6rem;
      font-size: 0.75rem;
      // color: #0070f3;
    }

    /* для date используем :valid вместо placeholder-shown */
    &:valid + label {
      top: 0.7rem;
      left: 0.6rem;
      font-size: 0.75rem;
      // color: #0070f3;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #777;
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    padding: 0 0.25rem;
  }

  .error {
    position: absolute;
    bottom: -1.8rem;
    left: .6rem;
    font-size: 12px;
    color: var(--color-warning);
  }
}