.form {
  display: flex;
  gap: 1rem;
  background: var(--color-background-hover);
  padding: 1rem 0.5rem 1.3rem;
  border-radius: 12px;
  align-items: center;
}

.cityFiled {
  position: relative;
  flex: 1;
}

.searchButton {
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 8px;
  background:var(--color-primary);
  color: var(--color-button-text);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: var(--color-primary-hover);
  }
}
