.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: var(--color-bg-header);
  border-bottom: 1px solid var(--color-border);
}

.logo {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--font-size-xl);

  &:hover {
    opacity: 0.8;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  // z-index: 15;

  .loginButton {
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    display: flex;
    font-size: var(--font-size-lg);
    gap:8px;
    font-weight: 500;
    justify-content: center;
    background: none;
    border: none;

    svg {
      font-size: 28px;
    }

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 410;
  animation: fadeIn 0.3s ease-out forwards;
}
